<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DevMtn Chat</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../images">
    </head>
    <body>
      <section class="wrapAll">

        <nav class="noDataNav">
            <a id="searchIcon" href="#"><img src="../images/Icons/Search.svg" alt="search icon"></a>
            <a id="dmNav" href="#">DevMountain</a>
            <a id="hamIcon" href="#"><img src="../images/Icons/Ham.svg" alt="nav menu icon"></a>
        </nav>
        <hr id="topRule">
        <section class="contentWrapper">
          <section class="leftContent">
            <p class="devWelcome">Welcome to <a id="devLink" href="#">DevMountain</a> Social</p>
            <p class="devWelcome">Add Some Info So Friends Can Find You</p>
            <br>
            <input type="text" placeholder="Full Name">
            <input type="text" placeholder="Tagline">
            <input type="url" placeholder="Profile Image Url">
            <textarea id="bio" placeholder="Bio"></textarea>
            <button type="button" name="save changes">Save Changes</button>
          </section>
          <section class="rightContent">
            <div class="backTri"></div>
            <div class="frontTri"></div>
          </section>
          </section>
          <hr id="bottomRule">
          <nav class="bottomNav">
            <a href="#">View Friends</a>
            <a href="#">Find Friends</a>
            <a href="#">Update Profile</a>

          </nav>





      </section>
    </body>
</html>
